body {
	margin: 0;
}

header {
	position:fixed;
	background-color: #333;
	color:WhiteSmoke;
	z-index:1;
	margin-top:-60px;
	height:60px;
	width:100%;
	border-bottom:2px solid Black;
}

main {
	margin-top:60px;
	padding:10px;
	color:White;
	margin-bottom:20px;
	border-bottom:1px solid #009;
	background: linear-gradient(to bottom right, #33f, #00a);
}
* {
	z-index:0;
}
post div {
	margin-left:10%;
	margin-right:10%;
	margin-bottom:10px;
	background-color:#ddd;
	border:2px solid Black;
}

right {
	display:inline-block;
	float:right;
	margin-right:10px;
}

left {
	margin-left:5px;
	width:100px;
	display:inline-block;
	float:left;
}
